# Data Analysis

In [7]:
import pandas as pd
import ezodf

def read_ods(filename, sheet_no=0, header=0):
    tab = ezodf.opendoc(filename=filename).sheets[sheet_no]
    return pd.DataFrame({col[header].value:[x.value for x in col[header+1:]]
                         for col in tab.columns()})

sfSens1=pd.read_csv("data/measure1_smartphone_sens.csv")
swSens1=pd.read_csv("data/measure1_smartwatch_sens.csv")
sfWifi1=pd.read_csv("data/measure1_smartphone_wifi.csv")
tstamp1=pd.read_csv("data/measure1_timestamp_id.csv", header=None, names = ['in', 'out', 'id'])
points=read_ods(filename="data/PointsMapping.ods")
points=points.drop([None], axis=1)[:325]

In [53]:
#tstamp1['time']=tstamp1['out']-tstamp1['in']
tstamp1.describe()

                 in           out          id          time
count  3.240000e+02  3.240000e+02  324.000000    324.000000
mean   1.422881e+12  1.422881e+12  160.515432   3559.478395
std    1.717412e+08  1.717407e+08   93.267300   2963.885958
min    1.422629e+12  1.422629e+12    0.000000   2000.000000
25%    1.422632e+12  1.422632e+12   78.750000   2895.250000
50%    1.422884e+12  1.422884e+12  159.500000   3074.500000
75%    1.423044e+12  1.423044e+12  240.250000   3291.000000
max    1.423128e+12  1.423128e+12  324.000000  40536.000000

In [50]:
#import numpy as np
tstamp1['id'].value_counts(sort=True, ascending=False)

66     4
43     3
112    2
52     2
119    1
118    1
117    1
116    1
115    1
114    1
105    1
113    1
120    1
111    1
110    1
109    1
121    1
108    1
107    1
106    1
324    1
84     1
93     1
86     1
87     1
88     1
89     1
90     1
91     1
92     1
      ..
230    1
232    1
204    1
233    1
234    1
235    1
236    1
237    1
238    1
239    1
223    1
222    1
221    1
220    1
205    1
206    1
207    1
208    1
209    1
210    1
211    1
212    1
213    1
214    1
215    1
216    1
217    1
218    1
219    1
0      1
Name: id, Length: 317, dtype: int64

52326.0